:root
{
    --success-color: rgb(0, 184, 0);
    --error-color: rgb(197, 16, 16);
}

.App
{
  background-color: rgb(150, 150, 150);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  filter: none;
  transition-delay: 100ms;
  transition-duration: 100ms;
}

h2
{
  text-align: center;
  margin:  0 0 20px;
}

.form
{
  padding: 30px 40px;
}

.form-class
{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-class label
{
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

.form-class input
{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-class input:focus
{
    outline: 0;
    border-color: rgb(0, 0, 0);
    transition-delay: 120ms;
    transition-duration: 120ms;
  }

.form-class input:hover
{
    outline: 0;
    border-color: rgb(255, 151, 71);
    transition-delay: 100ms;
    transition-duration: 100ms;
}
  
.form button
  {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(39, 39, 39);
    border: 2px solid;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 20px;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
  }
  
  .form button:hover
  {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 15, 15);
    border: 2px solid;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 20px;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
    transition-delay: 100ms;
    transition-duration: 100ms;
  }

.success
{
    visibility: hidden;
}

.error
{
    color:  var(--error-color);
    visibility: visible;
}

small
{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.disable
{
    pointer-events: none;
}

.enable
{
    pointer-events: all;
}